<%- include('partials/outer-header') %>

    <div class="hero-section">
        <div class="container">
            <h1 class="hero-title">Welcome to Todo</h1>
            <p class="hero-subtitle">To Do gives you focus, from work to play.</p>
            <img class="hero-image" src="/images/To-Do_icon.png" alt="Todo Image">
            <p class="hero-description">Increase your Productivity</p>
            <div class="hero-buttons">
                <a class="btn btn-outline-primary me-2" href="/login" role="button">Login</a>
                <a class="btn btn-primary" href="/register" role="button">Register</a>
            </div>
        </div>
    </div>


    <%- include('partials/outer-footer') %>